{
  "openapi": "3.1.0",
  "info": {
    "version": "1.0.0",
    "title": "Appz Api"
  },
  "servers": [
    {
      "url": "https://api.youappz.dev",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "Bearer": []
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Alias": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "teamId": {
            "type": [
              "string",
              "null"
            ]
          },
          "alias": {
            "type": [
              "string",
              "null"
            ]
          },
          "domain": {
            "type": [
              "string",
              "null"
            ]
          },
          "zoneId": {
            "type": [
              "string",
              "null"
            ]
          },
          "target": {
            "type": [
              "string",
              "null"
            ]
          },
          "redirect": {
            "type": [
              "string",
              "null"
            ]
          },
          "redirectStatusCode": {
            "type": [
              "number",
              "null"
            ]
          },
          "createdAt": {
            "type": "number"
          },
          "updatedAt": {
            "type": "number"
          },
          "createdBy": {
            "type": [
              "number",
              "null"
            ]
          },
          "deploymentId": {
            "type": [
              "string",
              "null"
            ]
          },
          "projectId": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "teamId",
          "alias",
          "domain",
          "zoneId",
          "target",
          "redirect",
          "redirectStatusCode",
          "createdAt",
          "updatedAt",
          "createdBy",
          "deploymentId",
          "projectId"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/aliases/{idOrAlias}": {
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 3,
              "example": "example.appz.dev"
            },
            "required": true,
            "name": "alias",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve the alias",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          }
        }
      }
    },
    "/aliases/{aliasId}": {
      "delete": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 3,
              "example": "example.appz.dev"
            },
            "required": true,
            "name": "alias",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The alias was successfully removed",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "SUCCESS"
                      ]
                    }
                  },
                  "required": [
                    "status"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": ""
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": "The alias was not found"
          }
        }
      }
    }
  },
  "webhooks": {}
}